<div ng-controller="NavBarController">
    <nav>
        <div class="nav-wrapper">
            <a href="#!/" class="brand-logo">SupDesk</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#!/">Home </a></li>
                <li ng-show='loggedIn && !isAdmin'><a href="#!/tickets/user/myTickets">My Tickets </a></li>
                <li ng-show='loggedIn && isAdmin'><a href="#!/tickets">Tickets </a></li>
                <li disabled ng-show='loggedIn'><a href>Signed In as {{currentUser}} </a></li>
                <li ng-show='!loggedIn'><a href="#!/login">Login </a></li>
                <li ng-show='!loggedIn'><a href="#!/signup">Sign Up </a></li>
                <li ng-show='loggedIn'><a href="#!/login" ng-click="logOut()">Logout </a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#!/">Home </a></li>
        <li ng-show='loggedIn && !isAdmin'><a href="#!/tickets/user/myTickets">My Tickets </a></li>
        <li ng-show='loggedIn && isAdmin'><a href="#!/tickets">Tickets </a></li>
        <li disabled ng-show='loggedIn'><a href>Signed In as {{currentUser}} </a></li>
        <li ng-show='!loggedIn'><a href="#!/login">Login </a></li>
        <li ng-show='!loggedIn'><a href="#!/signup">Sign Up </a></li>
        <li ng-show='loggedIn'><a href="#!/login" ng-click="logOut()">Logout</a></li>
    </ul>
</div>
<script>
    var elem = document.querySelector('.sidenav');
    var instance = M.Sidenav.init(elem);
</script>