<div class="col s12 m7">
    <div class="center-align">
        <h4 class="header">Welcome to SupDesk</h4>
    </div>
    <div class="card horizontal blue-grey darken-1 white-text">
        <div class="card-image">

        </div>
        <div class="card-stacked">
            <div class="card-content center-align flow-text">
                <p>We are happy to assist you.</p><br>
                <p>Create a ticket by clicking on the Create a Ticket Button Below</p> <br>
                <p>To check the status of previous tickets click on My Tickets in Navigation Bar</p> <br>
            </div>
            <div class="card-action center-align">

                <a class="waves-effect waves-light btn" href="#!/new" class="btn btn-primary">Create a ticket</a>

            </div>
        </div>
    </div>
</div>